
#login_img {
    -fx-border-color: pink;
    -fx-border-radius: 2px;
}

#login_field {
    -fx-background-color: pink;
}

#login_hbox {
    -fx-background-color: red;
}

#id_label {
    color: pink;
}

.text-field {
    -fx-border-color: transparent;
}

.btn {
    -fx-border-radius: 100px;
    /*-fx-border-color: red;*/
    -fx-background-color: rgb(158, 179, 243);
}
