.vbox-lable {
    /*-fx-border-bottom-color: #b2afaf;*/
}

.table-view {
    /*-fx-background-color: rgb(158, 179, 243);*/
    /*-fx-background-color: #a999f1;*/
    -fx-background-color: transparent;
    -fx-border-bottom-color: #d8d4ea;
}

/* góc thẻ tiêu đề */
.table-view .column-header-background .filler {
    -fx-background-color: #d8d4ea;
    /*-fx-background-color: rgb(194, 248, 198);*/
}

/* The bottom right corner between the scrollbars */
.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    /*-fx-background-color: linear-gradient(to bottom, #e1ccfc, #f2e5fa);*/
    -fx-background-color: linear-gradient(to bottom, #f6f2fc, #faf8fc);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 0 0;
}

/* Column Headers riêng lẻ */
.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: #d8d4ea;
}

/* cells & rows */
.table-view .table-cell{
    -fx-border-color: #d8d4ea;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: black;
}
.table-row-cell:odd{
    /*-fx-background-color: #93f9b911;*/
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    /*-fx-background-color: rgba(237, 204, 250, 0.68);*/
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

/* Scrollbars -> thông qua selector: .virtual-flow .scroll-bar selector*/
/* .track and .track-background : khoảng trống mà thanh cuộn di chuyển */
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

/* .increment-button and .decrement-button: truy cập các mũi tên của scrollbar */
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

/* .thumb: tham chiếu tới scrollbar */
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, rgba(226, 202, 245, 0.4), rgba(234, 201, 252, 0.56));
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, rgba(226, 202, 245, 0.4), rgba(234, 201, 252, 0.56));
}

.icon {
    -fx-fill: pink;
}

.add-view-btn {

    /*-fx-border-radius: 12px;*/
    -fx-border-color:  #a999f1;
    -fx-background-color:  #d8d4ea;
    -fx-cursor: hand;
  }

